 
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
 
body{ font-family: "Lato", sans-serif;}
 
 
.about-banner{background:   url('img/about-ban.svg'), rgb(0, 0, 0) 100% / cover no-repeat;} 
.service-banner{background:   url('img/service-ban.svg'), rgb(0, 0, 0) 100% / cover no-repeat;} 
.pricing-banner{background:   url('img/pricing-ban.svg'), rgb(0, 0, 0) 100% / cover no-repeat;} 
.contact-banner{background:   url('img/contact-ban.svg'), rgb(0, 0, 0) 100% / cover no-repeat;} 
.home-banner {background: url('img/static-home.jpg') ; background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; } 

  .animate-spin1{	animation: spin 8s linear infinite;}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}